.template-home_2 .--ratio {
  aspect-ratio: 100/13;
  min-height: 8.75rem;
}
.template-home_2 .--carousel {
  width: 100%;
}
.template-home_2 .--letter {
  margin-top: var(--space-2xs-xs);
  margin-bottom: var(--space-2xs-xs);
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  border-radius: 6px;
  text-transform: uppercase;
  --un-text-opacity: 1;
  color: rgba(255, 255, 255, var(--un-text-opacity));
  transition-property: color, background-color, border-color, outline-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.15s;
  transition-duration: 1s;
  transition-delay: 0.1s;
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  will-change: transform;
  font-size: var(--space-m);
}
@media (min-width: 1280px) {
  .template-home_2 .--letter {
    font-size: var(--space-s-l);
  }
}
@media only screen and (hover: hover) and (pointer: fine) {
  .template-home_2 .--letter:hover:not(.--divider),
  .template-home_2 .--letter:focus-visible:not(.--divider) {
    --un-scale-x: 1.05;
    --un-scale-y: 1.05;
    transform: translate(var(--un-translate-x))
      translateY(var(--un-translate-y)) translateZ(var(--un-translate-z))
      rotate(var(--un-rotate)) rotateX(var(--un-rotate-x))
      rotateY(var(--un-rotate-y)) rotate(var(--un-rotate-z))
      skew(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x))
      scaleY(var(--un-scale-y)) scaleZ(var(--un-scale-z));
    transition-duration: 0s;
    transition-delay: 0s;
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    background-color: var(--hover);
  }
}
.template-home_2 .--letter:active:not(.--divider) {
  --un-scale-x: 0.95;
  --un-scale-y: 0.95;
  transform: translate(var(--un-translate-x)) translateY(var(--un-translate-y))
    translateZ(var(--un-translate-z)) rotate(var(--un-rotate))
    rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y))
    rotate(var(--un-rotate-z)) skew(var(--un-skew-x)) skewY(var(--un-skew-y))
    scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y))
    scaleZ(var(--un-scale-z));
  transition-duration: 0.1s;
  transition-delay: 0s;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}
.template-home_2 .--letter span {
  pointer-events: none;
}
.template-home_2_play {
  width: 100%;
  display: flex;
  align-items: center;
  border-width: 5px;
  border-top-width: 0;
  --un-border-opacity: 1;
  border-color: rgba(22, 27, 50, var(--un-border-opacity));
}
.template-home_2_play .--letter {
  --un-bg-opacity: 1;
  background-color: rgba(22, 27, 50, var(--un-bg-opacity));
}
.template-home_2_play .--letter.--divider {
  background-color: transparent;
  --un-text-opacity: 1;
  color: rgba(22, 27, 50, var(--un-text-opacity));
}
.template-home_2_play .--letter.--divider svg {
  width: 1em;
}
.template-home_2_work {
  min-width: 100vw;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-width: 5px;
  border-top-width: 0;
  border-color: transparent;
}
.template-home_2_work .--letter.--divider {
  background-color: transparent;
  --un-text-opacity: 1;
  color: rgba(255, 237, 155, var(--un-text-opacity));
}
.template-home_2_work .--letter.--divider svg {
  width: 1.2em;
}
