.svg-circle-work circle {
  --un-stroke-opacity: 1;
  stroke: rgba(29, 41, 81, var(--un-stroke-opacity));
  will-change: transform;
  animation: svg-circle-work_glow 3s infinite forwards;
}
@keyframes svg-circle-work_glow {
  15% {
    --un-stroke-opacity: 1;
    stroke: rgba(255, 237, 155, var(--un-stroke-opacity));
    transform: scale(1.01);
  }
  0%,
  70% {
    --un-stroke-opacity: 1;
    stroke: rgba(29, 41, 81, var(--un-stroke-opacity));
    transform: scale(1);
  }
}
.svg-circle-work g {
  will-change: transform;
  transform-origin: center;
  animation: svg-circle-work_pulse 3s ease-in-out infinite forwards;
}
@keyframes svg-circle-work_pulse {
  20% {
    transform: scale(1.02);
  }
  0%,
  80% {
    transform: scale(1);
  }
}
.svg-circle-play circle {
  --un-fill-opacity: 1;
  fill: rgba(255, 255, 255, var(--un-fill-opacity));
  --un-stroke-opacity: 1;
  stroke: rgba(22, 27, 50, var(--un-stroke-opacity));
  will-change: transform;
  animation: svg-circle-play_glow 3s infinite forwards;
}
@keyframes svg-circle-play_glow {
  10% {
    --un-fill-opacity: 1;
    fill: rgba(250, 196, 158, var(--un-fill-opacity));
    transform: scale(1.01);
  }
  40% {
    --un-fill-opacity: 1;
    fill: rgba(255, 237, 155, var(--un-fill-opacity));
    transform: scale(1);
  }
  0%,
  80% {
    --un-fill-opacity: 1;
    fill: rgba(255, 255, 255, var(--un-fill-opacity));
    transform: scale(1);
  }
}
.svg-circle-play g {
  will-change: transform;
  transform-origin: center;
  animation: svg-circle-play_pulse 3s ease-in-out infinite forwards;
}
@keyframes svg-circle-play_pulse {
  25% {
    transform: scale(1.02);
  }
  0%,
  75% {
    transform: scale(1);
  }
}
.template-home_7 .--ratio {
  aspect-ratio: 100/22;
  min-height: 20rem;
  font-size: var(--space-m);
}
.template-home_7 .--logo {
  width: 10em;
  height: 10em;
}
@media (min-width: 1024px) {
  .template-home_7 .--logo {
    width: 16em;
    height: 16em;
  }
}
.template-home_7_play {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-width: 5px;
  border-top-width: 0;
  --un-border-opacity: 1;
  border-color: rgba(22, 27, 50, var(--un-border-opacity));
}
.template-home_7_work {
  min-width: 100vw;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
