.template-home_8 {
  border-width: 5px;
  border-top-width: 0;
  --un-border-opacity: 1;
  border-color: rgba(22, 27, 50, var(--un-border-opacity));
}
@media (min-width: 1024px) {
  .template-home_8_grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
.template-home_8_first {
  padding: var(--space-l-xl);
}
.template-home_8_first > :not([hidden]) ~ :not([hidden]) {
  --un-space-y-reverse: 0;
  margin-top: calc(var(--space-m-l) * calc(1 - var(--un-space-y-reverse)));
  margin-bottom: calc(var(--space-m-l) * var(--un-space-y-reverse));
}
@media (max-width: 1023.9px) {
  .template-home_8_first {
    text-align: center;
  }
}
.template-home_8_first h4 {
  max-width: fit-content;
  --un-rotate-x: 0;
  --un-rotate-y: 0;
  --un-rotate-z: 0;
  --un-rotate: -2deg;
  transform: translate(var(--un-translate-x)) translateY(var(--un-translate-y))
    translateZ(var(--un-translate-z)) rotate(var(--un-rotate))
    rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y))
    rotate(var(--un-rotate-z)) skew(var(--un-skew-x)) skewY(var(--un-skew-y))
    scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y))
    scaleZ(var(--un-scale-z));
  transform: translate3d(
      var(--un-translate-x),
      var(--un-translate-y),
      var(--un-translate-z)
    )
    rotate(var(--un-rotate)) rotateX(var(--un-rotate-x))
    rotateY(var(--un-rotate-y)) rotate(var(--un-rotate-z))
    skew(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x))
    scaleY(var(--un-scale-y)) scaleZ(var(--un-scale-z));
}
@media (max-width: 1023.9px) {
  .template-home_8_first h4 {
    margin-left: auto;
    margin-right: auto;
  }
}
.template-home_8_first p {
  max-width: 35rem;
}
@media (max-width: 1023.9px) {
  .template-home_8_first p {
    margin-left: auto;
    margin-right: auto;
  }
}
.template-home_8_second {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  --un-border-opacity: 1;
  border-color: rgba(22, 27, 50, var(--un-border-opacity));
  --un-gradient-from-position: 0%;
  --un-gradient-from: rgba(161, 217, 247, var(--un-from-opacity, 1))
    var(--un-gradient-from-position);
  --un-gradient-to: rgba(161, 217, 247, 0) var(--un-gradient-to-position);
  --un-gradient-stops: var(--un-gradient-from), var(--un-gradient-to);
  --un-gradient-to-position: 100%;
  --un-gradient-to: rgba(127, 194, 236, var(--un-to-opacity, 1))
    var(--un-gradient-to-position);
  --un-gradient-shape: to bottom;
  --un-gradient: var(--un-gradient-shape), var(--un-gradient-stops);
  background-image: linear-gradient(var(--un-gradient));
}
@media (max-width: 1023.9px) {
  .template-home_8_second {
    border-top-width: 5px;
  }
}
@media (min-width: 1024px) {
  .template-home_8_second {
    border-left-width: 5px;
  }
}
.template-home_8_second:before {
  pointer-events: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  border-width: 5px;
  --un-border-opacity: 1;
  border-color: rgba(127, 194, 236, var(--un-border-opacity));
  content: "";
}
.template-home_8_button {
  -webkit-user-select: none;
  user-select: none;
  background-color: transparent;
}
.template-home_8_button .ui-cursor {
  overflow: hidden;
}
.template-home_8_button .ui-cursor_follow {
  width: 2.5em;
  height: 2.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  border-width: 4px;
  --un-border-opacity: 1;
  border-color: rgba(22, 27, 50, var(--un-border-opacity));
  border-radius: 9999px;
  --un-bg-opacity: 1;
  background-color: rgba(255, 255, 255, var(--un-bg-opacity));
}
.template-home_8_button:active .ui-cursor_follow img {
  transform: translate3d(
      var(--un-translate-x),
      var(--un-translate-y),
      var(--un-translate-z)
    )
    rotate(var(--un-rotate)) rotateX(var(--un-rotate-x))
    rotateY(var(--un-rotate-y)) rotate(var(--un-rotate-z))
    skew(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x))
    scaleY(var(--un-scale-y)) scaleZ(var(--un-scale-z));
  transition-property: color, background-color, border-color, outline-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.15s;
}
.template-home_8_lingo {
  aspect-ratio: 50/100;
  width: 100%;
  -webkit-user-select: none;
  user-select: none;
  background-color: transparent;
}
@media (min-width: 768px) {
  .template-home_8_lingo {
    aspect-ratio: 150/100;
  }
}
@media (min-width: 1024px) {
  .template-home_8_lingo {
    aspect-ratio: 100/100;
  }
}
.template-home_8_lingo-area {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.template-home_8_lingo-cursor {
  width: 2.5em;
  height: 2.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate3d(
      var(--un-translate-x),
      var(--un-translate-y),
      var(--un-translate-z)
    )
    rotate(var(--un-rotate)) rotateX(var(--un-rotate-x))
    rotateY(var(--un-rotate-y)) rotate(var(--un-rotate-z))
    skew(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x))
    scaleY(var(--un-scale-y)) scaleZ(var(--un-scale-z));
  border-width: 4px;
  --un-border-opacity: 1;
  border-color: rgba(22, 27, 50, var(--un-border-opacity));
  border-radius: 9999px;
  --un-bg-opacity: 1;
  background-color: rgba(255, 255, 255, var(--un-bg-opacity));
  transition-property: color, background-color, border-color, outline-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.15s;
}
.template-home_8_lingo-cursor img {
  animation: spin 0.5s reverse ease-in-out;
}
.template-home_8_lingo:active .template-home_8_lingo-cursor {
  --un-scale-x: 0.85;
  --un-scale-y: 0.85;
  transform: translate(var(--un-translate-x)) translateY(var(--un-translate-y))
    translateZ(var(--un-translate-z)) rotate(var(--un-rotate))
    rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y))
    rotate(var(--un-rotate-z)) skew(var(--un-skew-x)) skewY(var(--un-skew-y))
    scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y))
    scaleZ(var(--un-scale-z));
}
.template-home_8_lingo-item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  padding: var(--space-l);
}
@media (min-width: 640px) {
  .template-home_8_lingo-item {
    padding: var(--space-2xl);
  }
}
.template-home_8_lingo-item-enter-active {
  transition-duration: 0.6s;
}
.template-home_8_lingo-item-enter-active .template-home_8_lingo-content,
.template-home_8_lingo-item-enter-active p {
  transition-property: color, background-color, border-color, outline-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.15s;
  transition-duration: 0.6s;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}
.template-home_8_lingo-item-leave-active {
  transition-duration: 0.15s;
}
.template-home_8_lingo-item-leave-active .template-home_8_lingo-content,
.template-home_8_lingo-item-leave-active p {
  transition-property: color, background-color, border-color, outline-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.15s;
  transition-timing-function: cubic-bezier(0.895, 0.03, 0.685, 0.22);
}
.template-home_8_lingo-item-enter-from .template-home_8_lingo-content,
.template-home_8_lingo-item-leave-to .template-home_8_lingo-content,
.template-home_8_lingo-item-enter-from p,
.template-home_8_lingo-item-leave-to p {
  --un-scale-x: 0.8;
  --un-scale-y: 0.8;
  transform: translate(var(--un-translate-x)) translateY(var(--un-translate-y))
    translateZ(var(--un-translate-z)) rotate(var(--un-rotate))
    rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y))
    rotate(var(--un-rotate-z)) skew(var(--un-skew-x)) skewY(var(--un-skew-y))
    scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y))
    scaleZ(var(--un-scale-z));
}
.template-home_8_lingo-content,
.template-home_8_lingo-content p {
  transform: translate3d(
      var(--un-translate-x),
      var(--un-translate-y),
      var(--un-translate-z)
    )
    rotate(var(--un-rotate)) rotateX(var(--un-rotate-x))
    rotateY(var(--un-rotate-y)) rotate(var(--un-rotate-z))
    skew(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x))
    scaleY(var(--un-scale-y)) scaleZ(var(--un-scale-z));
  will-change: transform;
}
.template-home_8_lingo-content p:nth-child(1) {
  margin-bottom: var(--space-2xs-xs);
  font-size: var(--step-5);
  line-height: 1;
  font-weight: 84;
}
.template-home_8_lingo-content p:nth-child(2) {
  margin-bottom: var(--space-3xs-2xs);
  font-size: var(--step-0);
  line-height: 1;
  font-style: italic;
  opacity: 0.5;
}
.template-home_8_lingo-content p:nth-child(3) {
  margin-bottom: var(--space-2xs-xs);
  font-size: var(--step-0);
  line-height: 1;
  opacity: 0.5;
}
.template-home_8_lingo-content p:nth-child(4) {
  font-size: var(--step-2);
  line-height: 1;
  line-height: 1.15em;
}
.template-home_8_lingo-content p:nth-child(4) i {
  opacity: 0.5;
}
