.part-grav-buttons {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-user-select: none;
  user-select: none;
  font-size: var(--space-m);
}
.part-grav-buttons_matter,
.part-grav-buttons_assets {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}
.part-grav-buttons_assets {
  pointer-events: none;
}
.part-grav-buttons_assets > * {
  position: absolute;
  width: max-content;
  --un-translate-x: -50%;
  --un-translate-y: -50%;
  transform: translate(var(--un-translate-x)) translateY(var(--un-translate-y))
    translateZ(var(--un-translate-z)) rotate(var(--un-rotate))
    rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y))
    rotate(var(--un-rotate-z)) skew(var(--un-skew-x)) skewY(var(--un-skew-y))
    scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y))
    scaleZ(var(--un-scale-z));
  transform: translate3d(
      var(--un-translate-x),
      var(--un-translate-y),
      var(--un-translate-z)
    )
    rotate(var(--un-rotate)) rotateX(var(--un-rotate-x))
    rotateY(var(--un-rotate-y)) rotate(var(--un-rotate-z))
    skew(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x))
    scaleY(var(--un-scale-y)) scaleZ(var(--un-scale-z));
}
.part-grav-buttons_assets .--wall:nth-child(1) {
  width: 100px;
  height: 100%;
  left: -50px;
  top: 50%;
}
.part-grav-buttons_assets .--wall:nth-child(2) {
  width: 100px;
  height: 100%;
  left: calc(100% + 50px);
  top: 50%;
}
.part-grav-buttons_assets .--wall:nth-child(3) {
  height: 5rem;
  width: 100%;
  height: 100px;
  left: 50%;
  top: -50px;
}
.part-grav-buttons_assets .--wall:nth-child(4) {
  top: 100%;
  height: 5rem;
  width: 100%;
  height: 100px;
  left: 50%;
  top: calc(100% + 50px);
}
.part-grav-buttons_assets .--text {
  left: 50%;
  top: 94%;
  width: 100%;
}
@media (min-width: 768px) {
  .part-grav-buttons_assets .--text {
    top: 85%;
  }
}
@media (min-width: 1024px) {
  .part-grav-buttons_assets .--text {
    top: 84%;
  }
}
@media (min-width: 1280px) {
  .part-grav-buttons_assets .--text {
    top: 80%;
  }
}
.part-grav-buttons_assets .--letter {
  left: 50%;
  top: 33%;
  width: 2em;
  height: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  font-size: var(--step-3);
  line-height: 1;
  font-weight: 72;
  text-transform: uppercase;
  --un-text-opacity: 1;
  color: rgba(255, 255, 255, var(--un-text-opacity));
}
.part-grav-buttons_assets .--button {
  pointer-events: auto;
  left: 50%;
  top: 33%;
}
